.reg {
	&-container {
		background-color: #E6E6E6;
		
	}
	&-header {
		background-color: #9074d0;
	}
	&-back {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	&-group {
		background-color: #FFF;
		&:first-child {
			margin-top: 1.5rem;
		}
		input,input:focus {
			border:0 !important; 
		}
	}
}